*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background{
  background-color: #3c3430;
  display: grid;
  place-items: center;
  height: 100vh;
}
.gallery{
  display: flex;
  height: calc(50% - 330px);
}
.card{
  position: relative;
  left: 0px;
  height: 160px;
  background-color: #6b626c;
  border-radius: 8px;
  transition: 1s ease-in-out;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0,0,0,0.5);
}
.card:not(:first-child){
  margin-left: -45px;
}
.card:hover{
  transform: translateY(-16px);
  font-weight: bold;
  cursor: pointer;

}
.card:hover ~ .card{
  left: 55px;
}
.card img{
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}